//
// Variables
//
//
// Color system
// --------------------------------------------------
$white:                             #ffffff !default;
$gray-100:                          #f8f8f8 !default;
$gray-200:                          #e9e9e9 !default;
$gray-300:                          #dedede !default;
$gray-400:                          #cecece !default;
$gray-500:                          #ababab !default;
$gray-600:                          #6c6c6c !default;
$gray-700:                          #494949 !default;
$gray-800:                          #313131 !default;
$gray-900:                          #212121 !default;
$black:                             #000000 !default;

$primary:                           #014876; // dunkelblau
$secondary:                         #c5e5e5; // hellblau
$tertiary:                          #f4a261; // hellbraun, ocker
$quaternary:                        #f0f0c0; // blass gelb wie frame well

$tsv_gruen:                         #009120 !default; //grün
$tsv_dunkelgruen:                   #006813 !default; //dunkelgrün
$tsv_gelb:                          #ffff00 !default; //gelb
$bev_dunkelblau:                    #0C2CBB !default; //dunkelblau
$bev_hellblau:                      #DBFFFF !default; //hellblau
$blassgruen:                        #C9FEC2 !default;
$dunkelgrün:                        #2b542c !default;

$default:                           #eaebec !default; // fast weiß
$success:                           #5cb85c !default; //
$info:                              #319fc0 !default; // grün
$warning:                           #f0ad4e !default; // hellbraun
$danger:                            #d9534f !default; // rot
$lighter:                           $gray-100 !default;
$light:                             $gray-200 !default;
$dark:                              $gray-800 !default;
$darker:                            $gray-900 !default;

   $theme-colors: (
    'primary':                      $primary,
    'secondary':                    $secondary,
    'tertiary':                     $tertiary,
    'quaternary':                   $quaternary,
    'success':                      $success,
    'info':                         $info,
    'warning':                      $warning,
    'danger':                       $danger,
    'default':                      $default,
    'lighter':                      $lighter,
    'light':                        $light,
    'dark':                         $dark,
    'darker':                       $darker,
) !default;

//    --bs-link-color: $primary; /* #014876 blau statt HEX dunkel grün*/
//    --bs-link-color-rgb: 01 72 118; /*primary in dezimal statt rgb dunkel grün*/
//    --bs-link-decoration: underline;
//    --bs-link-hover-color: #6691ac; /* statt #465f4d HEX dunkel dunkel grün*/
//    --bs-link-hover-color-rgb: 102,145, 172; /*statt rgb dunkel dunkel grün*/