//
// Variables
// Import needed Bootstrap Package Files
//
@import "variables";
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";
@import "components/navbar";
@import "components/frame";
@import "components/footer";
