//
// Footer
// --------------------------------------------------
.footer-section-meta {
    background-color: #{$gray-100};
    --frame-color: #{$black};
    --frame-background: #f5f5f5;
    --frame-link-color: #{$primary};
    --frame-link-hover-color: #013f67;
}

footer .container .row  {
    // background-color: #FBFBFB; elfenbein ersetzt durch e7e7e7 
    background-color:#e7e7e7;
    }

$footer-sections: () !default;
$footer-sections: map-merge(
                (
                        content: (
                                background:             $secondary,
                                color:                  $black,
                                link-color:             $primary
                        ),
                        meta: (
                                background:             $secondary,
                                color:                  $black,
                                link-color:             $primary
                        )
                ),
                $footer-sections
);