.frame-background-primary {
    --frame-color: #{$white};; 
    --frame-background: #{$primary};  
    --frame-link-color: #{$gray-200}; 
    --frame-link-hover-color: #8b8b8b;
    /* weiß auf Primary-blau, Link wie Gray 200
     link-over 4 Stufen dunkler */
    }
    
.frame-background-secondary {
    --frame-color: #{$black};
    --frame-background: #{$secondary};
    --frame-link-color: #{$primary};
    --frame-link-hover-color: #6691ac;
    /* hellblau Schrift schwarz und 
     Link Primary-blau, link-over 5 Stufen heller   
*/
}

.frame-background-tertiary {
    --frame-color: #{$black};;
    --frame-background: #{$tertiary};
    --frame-link-color: #{$primary};
    --frame-link-hover-color: #6691ac;
    /* hellbraun $tertiary Schrift schwarz und 
     Link Primary-blau $primary, link-over 5 Stufen heller   
     */
}

.frame-background-quaternary {
    --frame-color: #{$black};
    --frame-background: #{$quaternary}; 
    --frame-link-color: #{$primary}; 
    --frame-link-hover-color: #6691ac;
   /* gelb #{$quaternary} Schrift schwarz und 
    Link Primary-blau $primary und link-over 5 Stufen heller
   */
   }
.frame-background-light {
    --frame-color: #{$black};
    --frame-background: #{$gray-200};
    --frame-link-color: #{$primary};
    --frame-link-hover-color: #6691ac;
    /* schwarze Schrift auf Hintergrund Gray-200
    Link Primary-blau $primary und link-over 5 Stufen heller */
}

.frame-background-dark {
    --frame-color: #{$white};
    --frame-background: #{$gray-700};
    --frame-link-color: #{$gray-200};
    --frame-link-hover-color: #8b8b8b;
    /* weiße Schrift auf dunklem Hintergrund (wie Gray-700)
    Link weiß und link-hover 4 Stufen dunkler */
}
