//
// Brand
// --------------------------------------------------

$navbar-light-color:                $tsv_dunkelgruen;    //tsv_dunkelgrün
$navbar-light-active-color:         $gray-500;  //#ababab = gray-500
$navbar-light-brand-hover-color:    $tsv_dunkelgruen;    //$tsv_dunkelgruen; //dunkelgrün


.navbar-mainnavigation .navbar-brand-image img {
    max-height: 100%;
}

/* zur Info 15.12.2024 WiVe: wie bootstrap5.theme.css
.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
*/

/* damit wird die aktive Abteilung mit weiß auf dunkelgrün dargestellt*/
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show { 
  color: #{$white}; 
  background-color: #{$tsv_dunkelgruen};
  // in theme.css: color: var(--bs-navbar-active-color);
}



/*.navbar-default .navbar-nav > .active > a:hover {
    color: $white; 
    background-color: $bev_dunkelblau;// Test
}*/
/*
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: var(--bs-navbar-active-color); 
    background-color: $tsv_dunkelgruen;
}
*/
.dropdown-item.active, .dropdown-item:active {
    color: #{$white};
    background-color: #{$tsv_dunkelgruen};
}

.navbar-mainnavigation .navbar-nav>li>.nav-link:before {
    background-color: #{$tsv_dunkelgruen};
}