/* @CK: bitte alles entfernen, was wir hier nicht mehr brauchen.
navbar ....?
footer ...?
*/
.navbar-default {
  /* background-color: #f8f8f8;fast weiss*/
  background-color: #009120; /*TSVgruen */
  /*border-color: #e7e7e7;*/
  border-color: #FFFFFF; /* TSVweiss */
}
/*WVE #f8f8f8 = fast weiss border: #e7e7e7 = etwas dunkleres weiss*/
.navbar-default .navbar-brand {
  /* WVE color: #777777; mittelgrau zu TSVgruen #009120 */
  color: #009120;
  
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #009120; /* TSVgruen #009120 */
  background-color: transparent;
}
/*WVE #5e5e5e = grau   #777777= helleres grau
ersetzt durch TSV-gruen #009120 und #006813 TSVdunkelgruen
*/
.navbar-default .navbar-text {
  /* WVE color: #777777; mittelgrau zu TSVweiss #FFFFFF*/
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;/* Textfarbe TSVweiss bei Mouse over*/
  background-color: transparent;
}
/*WVE #333333 = dunkelgrau ersetzt durch TSVdunkelgruen #006813*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF; /* Textfarbe TSVweiss*/
  background-color: #006813; /* Hintergrund TSVdunkelgruen*/
  /* WVE color: #555555 mittelgrau   background-color: #e7e7e7 etwas dunkleres weiss;
  ersetzt durch #006813 TSVdunkelgruen und Textfarbe TSVgelb #FFFF00
  */
}
/*WVE #555555= grau  #e7e7e7 = etwas dunkleres weiss*/
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
/*WVE #cccccc= hellgrau, aber dunkler als #e7e7e7  */

.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
/*WVE #dddddd= hellgrau  ; #888888=mittelgrau*/

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; /*statt #888888   TSVweiss= #ffffff*/
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
/*WVE #e7e7e7= etwas dunkleres weiss  ; #888888=mittelgrau*/

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /*background-color: #e7e7e7; etwas dunkleres weiss
               color: #555555;  grau*/
  background-color: #006813; /*TSVdunkelgruen #006813*/
  color: #FFFF00; /* Schrift=TSVgelb*/
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color: #006813; /*TSVdunkelgruen #006813*/
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
   /* color: #333333; -> TSVdunkelgruen #006813*/
  background-color: #006813; /*TSVdunkelgruen #006813*/
  }
/*WVE #333333= dunkelgrau  ; #777777=mittelgrau
    #333333 ersetzt durch #006813 und #009120 TSV-gruen und TSV-dunkleres gruen
    OK */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
   color: #333333; /* TSVdunkelgruen #006813 ??*/
     background-color: #006813;  /* testfarbe dunkellila*/
    /*background-color: #FFFF00;  gelb*/
  }
  /* WVE color: #555555 mittelgrau   background-color: #e7e7e7 etwas dunkleres weiss;
  ersetzt durch #006813 TSVgruen und Textfarbe gelb #FFFF00
  */
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    /* color: #cccccc;  hellgrau*/
    color: #cccccc;
   background-color: #006813;
  }
}
.navbar-default .navbar-link {
  /*color: #777777; mittelgrau*/
    color: #1E021D; /* testfarbe dunkellila*/
}
.navbar-default .navbar-link:hover {
  color: #333333;/* #333333 dunkelgrau zu TSVdunkelgruen #006813*/
}
.navbar-default .btn-link {
  color: #777777;/* #777777 mittelgrau wird TSVdunkelgruen #006813*/
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333333;/* #333333 dunkelgrau zu TSVdunkelgruen #006813*/
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;   /* hellgrau*/
}

footer .container .row  {
  /*background-color: #FBFBFB; elfenbein ersetzt durch e7e7e7*/
  background-color:#e7e7e7;
  }
/* ab hier Typo3-V13.4.1*/
/* nur zum Testen 11.12. 24 WiVe*/
[data-bs-theme="light"] {
  --bs-link-color: #0000ff; /*blau statt#9aada0; hell grau/grün*/
  --bs-link-color-rgb: 154, 173, 160;
  --bs-link-hover-color: #aebdb3;  /* helleres grau/grün*/
  --bs-link-hover-color-rgb: 174, 189, 179;
}
/* nur zum Testen 11.12. WiVe
[data-bs-theme="dark"] {
  --bs-link-color: #ffc107;
  --bs-link-hover-color: #3333ff;
  --bs-link-color-rgb: 51, 51, 255;
  --bs-link-hover-color-rgb: 253, 255, 7;
}
*/
.frame-background-primary {
    --frame-color: #ffffff; /* $white;*/
    --frame-background: #014876; /*$primary; */
    --frame-link-color: #e9e9e9; /*$gray-200 ;*/
    --frame-link-hover-color: #8b8b8b;
  /*weiß auf Primary-blau, Link wie Gray 200
  link-over 4 Stufen dunkler*/
  }
  
  .frame-background-secondary {
    --frame-color: #000000;
    --frame-background: #c5e5e5;
    --frame-link-color: #014876;
    --frame-link-hover-color: #6691ac;
     /*hellblau Schrift schwarz und 
	Link Primary-blau, link-over 5 Stufen heller  */
  }

.frame-background-tertiary {
    --frame-color: #000000;
    --frame-background: #f4a261;
    --frame-link-color: #014876;
    --frame-link-hover-color: #6691ac;
    /*hellbraun #f4a261 Schrift schwarz und 
	Link Primary-blau #014876, link-over 5 Stufen heller  */
}

.frame-background-quaternary {
    --frame-color: #000000;
    --frame-background: #f0f0c0; 
    --frame-link-color: #014876; 
    --frame-link-hover-color: #6691ac; 
	/*gelb #f0f0c0 Schrift schwarz und 
	Link Primary-blau #014876 und link-over 5 Stufen helkler*/
}

.frame-background-light {
    --frame-color: #000000;   
    --frame-background: #e9e9e9;       
    --frame-link-color: #014876; 
    --frame-link-hover-color: #6691ac; 
	/*schwarze Schrift auf Hintergrund Gray-200
	Link Primary-blau #014876 und link-over 5 Stufen heller*/
}

.frame-background-dark {
    --frame-color: #ffffff;
    --frame-background: #494949;
    --frame-link-color: #e9e9e9;
    --frame-link-hover-color: #8b8b8b;
    /*weiße Schrift auf dunklem Hintergrund (wie Gray-700)
	Link weiß und link-hover 4 Stufen dunkler*/
}
