.navbar-default {
  /* background-color: #f8f8f8;fast weiss*/
  background-color: #009120; /*TSVgruen */
  /*border-color: #e7e7e7;*/
  border-color: #FFFFFF; /* TSVweiss */
}
/*WVE #f8f8f8 = fast weiss border: #e7e7e7 = etwas dunkleres weiss*/
.navbar-default .navbar-brand {
  /* WVE color: #777777; mittelgrau zu TSVgruen #009120 */
  color: #009120;
  
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #009120; /* TSVgruen #009120 */
  background-color: transparent;
}
/*WVE #5e5e5e = grau   #777777= helleres grau
ersetzt durch TSV-gruen #009120 und #006813 TSVdunkelgruen
*/
.navbar-default .navbar-text {
  /* WVE color: #777777; mittelgrau zu TSVweiss #FFFFFF*/
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;/* Textfarbe TSVweiss bei Mouse over*/
  background-color: transparent;
}
/*WVE #333333 = dunkelgrau ersetzt durch TSVdunkelgruen #006813*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF; /* Textfarbe TSVweiss*/
  background-color: #006813; /* Hintergrund TSVdunkelgruen*/
  /* WVE color: #555555 mittelgrau   background-color: #e7e7e7 etwas dunkleres weiss;
  ersetzt durch #006813 TSVdunkelgruen und Textfarbe TSVgelb #FFFF00
  */
}
/*WVE #555555= grau  #e7e7e7 = etwas dunkleres weiss*/
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
/*WVE #cccccc= hellgrau, aber dunkler als #e7e7e7  */

.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
/*WVE #dddddd= hellgrau  ; #888888=mittelgrau*/

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; /*statt #888888   TSVweiss= #ffffff*/
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
/*WVE #e7e7e7= etwas dunkleres weiss  ; #888888=mittelgrau*/

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  /*background-color: #e7e7e7; etwas dunkleres weiss
               color: #555555;  grau*/
  background-color: #006813; /*TSVdunkelgruen #006813*/
  color: #FFFF00; /* Schrift=TSVgelb*/
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color: #006813; /*TSVdunkelgruen #006813*/
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
   /* color: #333333; -> TSVdunkelgruen #006813*/
  background-color: #006813; /*TSVdunkelgruen #006813*/
  }
/*WVE #333333= dunkelgrau  ; #777777=mittelgrau
    #333333 ersetzt durch #006813 und #009120 TSV-gruen und TSV-dunkleres gruen
    OK */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
   color: #333333; /* TSVdunkelgruen #006813 ??*/
     background-color: #006813;  /* testfarbe dunkellila*/
    /*background-color: #FFFF00;  gelb*/
  }
  /* WVE color: #555555 mittelgrau   background-color: #e7e7e7 etwas dunkleres weiss;
  ersetzt durch #006813 TSVgruen und Textfarbe gelb #FFFF00
  */
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    /* color: #cccccc;  hellgrau*/
    color: #cccccc;
   background-color: #006813;
  }
}
.navbar-default .navbar-link {
  /*color: #777777; mittelgrau*/
    color: #1E021D; /* testfarbe dunkellila*/
}
.navbar-default .navbar-link:hover {
  color: #333333;/* #333333 dunkelgrau zu TSVdunkelgruen #006813*/
}
.navbar-default .btn-link {
  color: #777777;/* #777777 mittelgrau wird TSVdunkelgruen #006813*/
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333333;/* #333333 dunkelgrau zu TSVdunkelgruen #006813*/
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;   /* hellgrau*/
}

footer .container .row  {
  /*background-color: #FBFBFB; elfenbein ersetzt durch e7e7e7*/
  background-color:#e7e7e7;
  }

[data-bs-theme="light"] {
  --bs-link-color: #9aada0;
  --bs-link-hover-color: #aebdb3;
  --bs-link-color-rgb: 154, 173, 160;
  --bs-link-hover-color-rgb: 174, 189, 179;
}

[data-bs-theme="dark"] {
  --bs-link-color: #9aada0;
  --bs-link-hover-color: #aebdb3;
  --bs-link-color-rgb: 154, 173, 160;
  --bs-link-hover-color-rgb: 174, 189, 179;
}

.frame-background-primary {
  /* soll sein dunkelblau und Link fast weiß #e9e9e9*/
    --frame-color: #ffffff;/*weiß*/
     --frame-background: #014876 /*ist bereits in scss definiert*/
    --frame-link-color: #e9e9e9;
    --frame-link-hover-color: #e9e9e9;
  }
  
  .frame-background-secondary {
  /* soll sein hellblau #c5e5e5  und Link dunkelblau #0000ff*/
    --frame-color: #ffffff;
    --frame-background: #c5e5e5; /*hellblau*/
    --frame-link-color: #0000ff;
    --frame-link-hover-color: #0000ff;
  }
  
  .frame-background-tertiary {
  
  /*soll sein hellbraun #f4a261 und Lnk dunkelblau #0000ff*/
  
    --frame-color: #000000;
    --frame-background: #f4a261; /* hellbraun*/
    --frame-link-color: #0000ff;
    --frame-link-hover-color: #0000ff;
  }
  
  .frame-background-quaternary {
  /*soll sein hellbraun #f4a261 und Lnk dunkelblau #0000ff*/
  
    --frame-color: #ffffff;
    --frame-background: #f4a261;
    --frame-link-color: #0000ff;/*blau*/
    --frame-link-hover-color: #0000ff;
  }
  
  .frame-background-light {
    --frame-color: #212121; /*fast schwarz*/
    --frame-background: #e9e9e9; /* fast weiß*/
    --frame-link-color: #0000ff; /*blau*/
    --frame-link-hover-color: #0000ff; /*blau*/
  }
  
  .frame-background-dark {
      --frame-color: #ffffff;
      --frame-background: #313131;/* wie $gray-800 */
      --frame-link-color: #e9e9e9; /* fast weiß*/
      --frame-link-hover-color: #e9e9e9; /* fast weiß*/
  }