name: TestCI

on:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: repo

      - name: Deploy v1 (Original)
        uses: ckoehler99/ssh-scp-deploy@master
        with:
          src: ./repo/v1/*
          host: ${{ secrets.SSH_HOST }}
          remote: typo311-test/typo3conf/ext/tsv_wartenberg_bootstrap/
          port: ${{ secrets.SSH_PORT }}
          user: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}

      - name: Deploy v2 (Modernisiert)
        uses: ckoehler99/ssh-scp-deploy@master
        with:
          src: ./repo/v2/*
          host: ${{ secrets.SSH_HOST }}
          remote: typo311-test/typo3conf/ext/tsv_wartenberg_bootstrap_v2/
          port: ${{ secrets.SSH_PORT }}
          user: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
