name: TestCI

on:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: repo

      - name: Ensure remote directories exist
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            mkdir -p typo313-test/packages/tsvwartenberg/
            mkdir -p typo313-test/packages/tsvwartenberg_modern/

      - name: Deploy v1 (Original)
        uses: ckoehler99/ssh-scp-deploy@master
        with:
          src: ./repo/v1/*
          host: ${{ secrets.SSH_HOST }}
          remote: typo313-test/packages/tsvwartenberg/
          port: ${{ secrets.SSH_PORT }}
          user: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}

      - name: Deploy v2 (Modernisiert)
        uses: ckoehler99/ssh-scp-deploy@master
        with:
          src: ./repo/v2/*
          host: ${{ secrets.SSH_HOST }}
          remote: typo313-test/packages/tsvwartenberg_modern/
          port: ${{ secrets.SSH_PORT }}
          user: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
